name: Publish documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions: { }

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to push commits to gh-pages branch
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # tag=v5.2.0
        with:
          distribution: temurin
          java-version: '25'
      - name: Build with Maven
        run: mvn -B --no-transfer-progress package
      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # tag=v4.8.0
        with:
          branch: gh-pages
          folder: target/reports/apidocs
