name: Publish documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
      - name: Build with Maven
        run: mvn package --file pom.xml

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: target/apidocs
