name: Publish documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions: { }

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to push commits to gh-pages branch
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
      - name: Set up JDK 8
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5.1.0
        with:
          distribution: temurin
          java-version: 8
      - name: Build with Maven
        run: mvn -B --no-transfer-progress package
      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # tag=v4.7.4
        with:
          branch: gh-pages
          folder: target/reports/apidocs
