name: Maven CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-version: [ 8 ]
        distro: [ 'zulu', 'temurin' ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3.3.0
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v3
      with:
        distribution: ${{ matrix.distro }}
        java-version: ${{ matrix.java-version }}
    - name: Build with Maven
      run: mvn package --file pom.xml
