name: Maven Publish Snapshot

on: [workflow_dispatch]

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write  # for git-push after version modifications

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # tag=v5.2.0
      with:
        java-version: '25'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_CENTRAL_USERNAME
        server-password: MAVEN_CENTRAL_PASSWORD
    - name: Publish snapshot
      run: mvn -B deploy
      env:
        MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
