name: Maven Publish Snapshot

on: [workflow_dispatch]

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write  # for git-push after version modifications

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
    - name: Set up JDK 8
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5.1.0
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_CENTRAL_USERNAME
        server-password: MAVEN_CENTRAL_PASSWORD
    - name: Publish snapshot
      run: mvn -B deploy
      env:
        MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
